<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>WSoft</title>
<link rel="stylesheet" href="./css/main.css" type="text/css"  />
<script src="./../js/vue.global.js"></script>
<script src="./../js/axios.min.js"></script>
<script src="./js/funcadmin.js"></script>
<script>

    window.viewcode="appportal";

</script>

</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="logDiv">
            <img src="./../upload/logo.png" height="36px" onclick="showmenuleftpc()" />
        </div>
        <div class="logoutDiv">
            <input type="button" class="btnLogout"  value="Logout" onclick="document.location.href='./../logout'" />
        </div>
    </div>    
    <div class="menu-left" >
        <ul class="menu-content" id="menu-content">
            <li v-for="data in datas" >
                    <a href="javascript:void(0)" v-show="data.PID==null&&((showpid['S'+data.MENUID])||(data.LOCATION==this.curLocation))"  @click="setMenuSession(data.MENUID,data.LOCATION)" class="active">{{data.NAME}}</a>
                    <a href="javascript:void(0)" v-show="data.PID==null&&((!showpid['S'+data.MENUID])&&(data.LOCATION!=this.curLocation))"  @click="setMenuSession(data.MENUID,data.LOCATION)" class="menu">{{data.NAME}}</a>
                    <a href="javascript:void(0)" v-show="data.PID!=null&&showpid['S'+data.PID]&&data.LOCATION==this.curLocation&&this.curLocation!=null" @click="setMenuSession(null,data.LOCATION)" class="activesub">{{data.NAME}}</a>
                    <a href="javascript:void(0)" v-show="data.PID!=null&&showpid['S'+data.PID]&&data.LOCATION!=this.curLocation" @click="setMenuSession(null,data.LOCATION)" class="menusub">{{data.NAME}}</a>
            </li>
        </ul>
    </div>
    <div class="content" id="content">
        <div class="content-title">
            <span>Application Management</span>
        </div>
        <div class="content-tab" id="datalist">
            <div class="select-tab" >
                <ul>
                    <li id="selpc" style="width:20%" class="selected" @click="selAppTab('1')" >PC</li>
                    <li id="selmobile" style="width:20%" @click="selAppTab('2')" >Mobile</li>
                    <li style="width:58%" >&nbsp;</li>
                </ul>
            </div>
            <div class="content-info" id="content-info" style="display:none">
                <div class="left" id="content-info-msg"></div>
                <div class="right" onclick="closeInfoMsg(event)">&Chi;</div>
            </div>
            <div class="content-tab-filter" >
                <div class="pageselshow">
                    Per Page
                    <select class="sel" v-model="pageitems" @change="getDatasByFilters(1)">
                        <option selected>2</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                    </select>
                    Records
                </div>
                <div class="actionbtns">
                    <input type="button" value="+Add" @click="openAddWinVue('',addDatas,'')" />&nbsp;
                    <input type="button" value="Export" @click="goExport()" />&nbsp;
                    <input type="button" value="Import" onclick="openUpdImportWin()" />&nbsp;
                </div>
                <div class="searchcombine" >
                    <input type="button" class="btn"  value="Search" @click="getDatasByFilters(1)" />
                </div>
                <div class="searchcombine" id="view_prp_filters">
                    <input type="text" class="text" name="filter_searchkey_like" value="" />
                </div>
            </div>
            <div class="content-tab-con" >
                <table class="tabdata" >
                    <tr>
                        <th><input type="checkbox" :checked="selAll" @click="checkedAllId()"></th>
                        <th v-for="datalab in datalabs">{{Object.values(datalab)[0]}}</th>
                        <th>Actions</th>
                    </tr>
                    <tr v-for="data in datas">
                        <td style="text-align: center;"><input type="checkbox" :checked="selIds.indexOf(data[pkey])>=0" name="checkboxinput" @click="checkedOneId(data[pkey])"></td>
                        <template v-for="item in datalabs">
                            <td v-if="arrShowTitles.indexOf(Object.keys(item)[0])!=-1&&Object.keys(item)[0]!='SNUM'"><span v-show="Object.keys(item)[0]=='NAME'&&data['PID']!=null">&nbsp;&nbsp;&nbsp;</span>{{data[Object.keys(item)[0]]}}</td>
                            <td v-if="arrShowTitles.indexOf(Object.keys(item)[0])!=-1&&Object.keys(item)[0]=='SNUM'&&data['PID']!=null">{{data['SNUMSUB']}}</td>
                            <td v-if="arrShowTitles.indexOf(Object.keys(item)[0])!=-1&&Object.keys(item)[0]=='SNUM'&&data['PID']==null">{{data['SNUM']}}</td>
                        </template>
                    <td>
                        <ul class="action-content">
                            <li><a href="javascript:void(0)" @click="openUpdWinVue('',updDatas,data[pkey])"><img width="23"  src="./imgs/update.png"></a></li>
                            <li><a href="javascript:void(0)" @click="openWinVue('Are you sure you want to delete this record?',delDatas,data[pkey])"><img width="23" src="./imgs/del.png"></a></li>
                        </ul>
                    </td>
                    </tr>
                </table> 
            </div>
            <div class="content-tab-pages">
                <div class="itemsshow">
                    <span>Total {{totalitems}} records</span>
                </div>
                <div class="pagesshow" id="pagesshow" v-show="hasitmes">
                    <ul class="page-content">
                        <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage+1)">Next</a></li>
                        <li v-for="page in showpages">
                            <a href="javascript:void(0)" v-if="page.i==this.curpage" @click="getDatasByFilters(page.i)" class="active">{{page.i}}</a>
                            <a href="javascript:void(0)" v-if="page.i!=this.curpage" @click="getDatasByFilters(page.i)" >{{page.i}}</a>
                        </li>
                        <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage-1)">Previous</a></li>
                    </ul>
                </div>
            </div>
            <div id="updWinImport" class="updWin">
                <div class="updWin-info" id="updWinImport-info" style="display:none">
                    <div class="left" id="updWinImport-info-msg"></div>
                    <div class="right" onclick="closeInfoMsg(event)">&Chi;</div>
                </div>
                <div class="updWin-content" >
                    <div class="updWin-content-item">
                        <div class="left" >Page File</div>
                        <div class="right" > 
                            <div class="selDiv" style="line-height: 40px;" >
                                <div v-show="!blnUpdedZip" >
                                    <label class="fileContainer">Select file to upload:<input id="filezip" ref="clearFileZip" type="file" @change="fileUploadZip()"></label>
                                </div>
                                <div v-show="blnUpdedZip">
                                    <img height="20" src="./imgs/file.png"><a href="javascript:void(0)" @click="fileDownloadZip()"  style="text-decoration-line: none;">{{fileContentZip['fileName']}}</a>&nbsp;&nbsp;
                                    <a href="javascript:void(0)" @click="fileDeleteZip()" >Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="updWinBtn">
                    <input type="button" class="btnOK"  value="Save" @click="goImport()" />
                    <input type="button" class="btnCancle"  value="Cancel" onclick="closeWin()" />
                </div>
            </div>
            <div id="updWin" class="updWin">
                <div class="updWin-info" id="updWin-info" style="display:none">
                    <div class="left" id="updWin-info-msg"></div>
                    <div class="right" onclick="closeInfoMsg(event)">&Chi;</div>
                </div>
                <div class="updWin-content" >
                    <div class="updWin-content-item" v-show="this.isupd">
                        <div class="left">ID</div>
                        <div class="right"><input type="text" readonly class="readonly" v-model="dataitem.ID" /></div>
                    </div>
                    <div class="updWin-content-item" v-show="this.isupd" style="line-height: 40px;">
                        <div class="left">Unique ID</div>
                        <div class="right">{{dataitem.APPID}}</div>
                    </div>
                    <div class="updWin-content-item">
                        <div class="left">Application Name</div>
                        <div class="right"><input type="text" v-model="dataitem.NAME" name="filed_name" value="" /></div>
                    </div>
                    <div class="updWin-content-item" >
                        <div class="left">Parent App</div>
                        <div class="right" >
                            <select class="sel" v-model="dataitem.PID"  >
                                <option></option>
                                <option v-for="data in dataapps"  name="PID"  :value="data['APPID']" >{{data['NAME']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="updWin-content-item" >
                        <div class="left">App Sort Order</div>
                        <div class="right"><input type="text" v-model="dataitem.SNUM"   /></div>
                    </div>
                    <div class="updWin-content-item">
                        <div class="left" >Application Icon</div>
                        <div class="right" > 
                            <div v-show="blnUpded">
                                <div id="imgShow"></div>
                                <a href="javascript:void(0)" @click="fileDelete('1')" >Delete</a>
                            </div>
                            <input v-show="!blnUpded" class="btnAddObj" type="button"  onclick="varSelShowFile(event)" value="+Upload Image" >
                            <div id="selDiv" class="selDiv" style="display:none;line-height: 40px;" >
                                <div v-show="!blnUpded" >
                                    <label class="fileContainer">Please select an image to upload: <input id="file" ref="clearFile" type="file" @change="fileUpload('1')"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="updWin-content-item">
                        <div class="left">App Selection Icon</div>
                        <div class="right" > 
                            <div v-show="blnUpdedSub">
                                <div id="imgShowSub"></div>
                                <a href="javascript:void(0)" @click="fileDelete('2')" >Delete</a>
                            </div>
                            <input v-show="!blnUpdedSub" class="btnAddObj" type="button"  onclick="varSelShowFile(event)" value="+Upload Image" >
                            <div id="selDivSub" class="selDiv" style="display:none;line-height: 40px;" >
                                <div v-show="!blnUpdedSub" >
                                    <label class="fileContainer">Please select an image to upload: <input id="fileSub" ref="clearFileSub" type="file" @change="fileUpload('2')"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="updWin-content-item" >
                        <div class="left">App Entry</div>
                        <div class="right" id ="pagelist">
                            <select class="sel" v-model="dataitem.LOCATION" name="filed_location">
                                <option></option>
                                <option v-for="data in datalocations" >{{data['LOCATION']}}</option>
                            </select>
                        </div>
                        <div id ="pagelistsub" style="display:none"></div>
                    </div>
                </div>
                <div class="updWinBtn">
                    <input type="button" class="btnOK"  value="Save" onclick="openWinOK()" />
                    <input type="button" class="btnCancle"  value="Cancel" onclick="closeWin()" />
                </div>
            </div>
        </div>
    </div> 
    <div class="footer">
        Copyright by WSoft
    </div> 
    <div id="coverWin" class="coverWin"></div>
    <div id="modalWin" class="modalWin">
        <div class="modalWinMsg"><span id="modalWinMsg"></span></div>
        <div class="modalWinBtn">
            <input type="button" class="btnOK"  value="OK" onclick="openWinOK()" />
            <input type="button" class="btnCancle"  value="Cancel" onclick="closeWin()" />
        </div>
    </div>
</div>

<script>

    window.callback=null;
    window.callbackpara=null;

    function openUpdImportWin() 
    {
        document.getElementById("coverWin").style.display="block";
        document.getElementById("updWinImport").style.display="block";
        document.getElementById("content-info").style.display="none";
    }

    function openWin(msg,callback,callbackpara) 
    {
        document.getElementById("coverWin").style.display="block";
        document.getElementById("modalWin").style.display="block";
        document.getElementById("modalWinMsg").innerText=msg;
        window.callback=callback;
        window.callbackpara=callbackpara;
    }
    function openUpdWin(msg,callback,callbackpara) 
    {
        document.getElementById("updWin-info-msg").innerHTML="";
        document.getElementById("updWin-info").style.display="none";
        
        document.getElementById("coverWin").style.display="block";
        document.getElementById("updWin").style.display="block";
        document.getElementById("content-info").style.display="none";
        window.callback=callback;
        window.callbackpara=callbackpara;
    }
    function openAddWin(msg,callback,callbackpara) 
    {
        document.getElementById("updWin-info-msg").innerHTML="";
        document.getElementById("updWin-info").style.display="none";

        document.getElementById("coverWin").style.display="block";
        document.getElementById("updWin").style.display="block";
        document.getElementById("content-info").style.display="none";
        window.callback=callback;
        window.callbackpara=callbackpara;
    }
    function openWinOK() 
    {
        window.callback(window.callbackpara); 
    }
    
    function closeWin() 
    {
        document.getElementById("coverWin").style.display="none";
        document.getElementById("modalWin").style.display="none";
        document.getElementById("updWin").style.display="none";
        document.getElementById("updWinImport").style.display="none";
    }
    
    function closeInfoMsg(e) 
    {
        e.srcElement.parentElement.style.display="none";
    }

    function varSelShowFile(e)
    {
        let p = e.target.parentElement;
        for (let dNode of p.childNodes) 
        {
            if(dNode.className=="selDiv")
            {
                dNode.style.display="block";
                break;
            }
        }
    }

    const DataListVue = 
    {
        data() 
        {
            return {
                datas:null,
                dataapps:null,
                dataitem:{},
                datalabs:null,
                datatotal:null,
                datalocations:null,
                curpage:1,
                totalpage:0,
                totalitems:0,
                pageitems:10,
                beginpage:0,
                endpage:0,
                showpages:[],
                hasitmes:true,
                pkey:null,
                isupd:true,
                returnmsg:'',
                arrShowTitles:[],
                fileContentZip:{},
                blnUpdedZip:false,
                selIds:[],
                pkeyIds:[],
                selAll:false,
                apptype:"1",
                fileContent:{},
			    blnUpded:false,
                fileContentSub:{},
			    blnUpdedSub:false,
            }
        },
        methods: 
        {
            selAppTab(apptype)
            {
                document.getElementById("content-info-msg").innerHTML="";
                document.getElementById("content-info").style.display="none";

                this.apptype=apptype;
                if(apptype=="2")
                {
                    document.getElementById("selpc").className="";
                    document.getElementById("selmobile").className="selected";
                }
                else
                {
                    document.getElementById("selpc").className="selected";
                    document.getElementById("selmobile").className=""; 
                }
                this.getDatas();
                this.getPages();
            },
            fileDelete(f)
            {
                if(f=="1")
                {
                    this.fileContent={};
                    this.blnUpded=false;
                    this.$refs.clearFile.value = '';
                }
                else
                {
                    this.fileContentSub={};
                    this.blnUpdedSub=false;
                    this.$refs.clearFileSub.value = '';
                }
            },
            fileDownload(f)
            {
                let gd = null;
                if(f=="1")
                {
                    gd = this.fileContent;
                }
                else
                {
                    gd = this.fileContentSub;
                }
                
                that=this;
                axios({
                    url: './../api/downloadFile',
                    method: 'POST',
                    data:{"fileGuid":gd['fileGUID']},
                    responseType: 'blob', // important
                }).then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', gd['fileName']);
                    document.body.appendChild(link);
                    link.click();
                });
            },
            getfileContent(f)
            {
                if(f=="1")
                {
                    if(this.blnUpded)
                        return this.fileContent;
                }
                else
                {
                    if(this.blnUpdedSub)
                        return this.fileContentSub;
                }
            },
            fileUpload(f)
            {
                let file = null;
                let fv = null;

                if(f=="1")
                {
                    file = document.getElementById("file").files[0];
                    fv = document.getElementById("file").value;
                }
                else
                {
                    file = document.getElementById("fileSub").files[0];
                    fv = document.getElementById("fileSub").value; 
                }

                fv = fv.substring(fv.indexOf(".")+1);

                if(fv.toUpperCase()!="PNG"&&fv.toUpperCase()!="JPG"&&fv.toUpperCase()!="JPEG"&&fv.toUpperCase()!="BMP"&&fv.toUpperCase()!="GIF")
                {
                    alert("Only image format files can be uploaded.");
                    return;
                }

                var params = new FormData();
                params.append('file', file)
                that=this;
                axios({
                    url: "./../api/uploadFile",
                    method: "post",
                    data: params,
                    headers: { 'Content-Type': 'multipart/form-data' }
                }).then(function(res){

                    if(f=="1")
                    {
                        that.fileContent=res.data;    
                        that.blnUpded=true; 
                        let simg = "<img src='"+ './../upload/' + that.fileContent['filePath'] +"' />";
                        document.getElementById("imgShow").innerHTML=simg;
                    }
                    else
                    {
                        that.fileContentSub=res.data;    
                        that.blnUpdedSub=true; 
                        let simg = "<img src='"+ './../upload/' + that.fileContentSub['filePath'] +"' />";
                        document.getElementById("imgShowSub").innerHTML=simg;
                    }

                    }).catch(function (err) {
                    });
            },
            goExport() 
            {
                if(this.selIds.length==0)
                {
                    document.getElementById("content-info-msg").innerHTML="Please select records to export first!";
                    document.getElementById("content-info").style.display="block";
                }
                else
                {
                    let paras = {};
                    paras['itemIDs']=this.selIds.join(",");
                    var that = this;
                    axios({
                        url: './../api/appportalexport',
                        method: 'POST',
                        data:paras,
                        responseType: 'blob', 
                    }).then((response) => {
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', 'appportal.zip');
                        document.body.appendChild(link);
                        link.click();
                    });
                }
            },
            goImport() 
            {
                let paras = {};
                if(this.blnUpdedZip)
                    paras['datafile']=this.fileContentZip['filePath'];
                else
                {
                    alert("Please upload the file to import.");
                    return;
                }

                var that = this;
                axios.post("./../api/appportalimport",paras).then(function(res)
                {
                    let m = res.data;
                    if(m['msg']!="")
                    {
                        document.getElementById("content-info-msg").innerHTML=m['msg'];
                        document.getElementById("content-info").style.display="block";
                    }
                    else
                    {
                        document.getElementById("content-info-msg").innerHTML="Records imported successfully!";
                        document.getElementById("content-info").style.display="block";
                        that.getDatasByFilters(that.curpage);
                    }
                    closeWin();

                }).catch(function (err) {
                });
            },
            checkedOneId(Id) 
            {
                let idIndex = this.selIds.indexOf(Id)
                if (idIndex >= 0) {
                this.selIds.splice(idIndex, 1)
                } else {
                this.selIds.push(Id)
                }
            },
            checkedAllId() 
            {
                if(!this.selAll)
                {
                    this.selIds = this.pkeyIds;
                    this.selAll=true;
                }
                else
                {
                    this.selIds = [];
                    this.selAll=false;
                }
            },
            fileDeleteZip()
            {
                this.fileContentZip={};
                this.blnUpdedZip=false;
                this.$refs.clearFileZip.value = '';
            },
            fileDownloadZip()
            {
                that=this;
                axios({
                    url: './../api/downloadFile',
                    method: 'POST',
                    data:{"fileGuid":that.fileContentZip['fileGUID']},
                    responseType: 'blob', // important
                }).then((response) => {
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', that.fileContentZip['fileName']);
                    document.body.appendChild(link);
                    link.click();
                });
            },
            fileUploadZip()
            {
                let file = document.getElementById("filezip").files[0];
                let fv = document.getElementById("filezip").value;
                fv = fv.substring(fv.indexOf(".")+1);

                if(fv.toUpperCase()!="ZIP")
                {
                    alert("Only ZIP format files can be uploaded.");
                    return;
                }

                let params = new FormData();
                params.append('file', file)
                that=this;
                axios({
                    url: "./../api/uploadFile",
                    method: "post",
                    data: params,
                    headers: { 'Content-Type': 'multipart/form-data' }
                }).then(function(res){
                    that.fileContentZip=res.data;    
                    that.blnUpdedZip=true; 

                }).catch(function (err) {
                });
            },
            setDatalocation(dl)
            {
                this.datalocations=dl;	
            },
            checkedOne (pageId) 
            {
                let idIndex = this.pageIds.indexOf(pageId)
                if (idIndex >= 0) {
                this.pageIds.splice(idIndex, 1)
                } else {
                this.pageIds.push(pageId)
                }
            },
            getDatas () 
            {
                let paras = {};
                paras['viewCode']=window.viewcode;
                paras['curPage']=this.curpage;
                paras['pageItmes']=this.pageitems;
                paras['filter_apptype_equal']=this.apptype;
                paras['order_snum#asc,snumsub#asc']='';

                var that = this;
                axios.post("./../api/datalist",paras).then(function(res){
                that.datas=Object.values(res.data)[0];    
                that.datalabs=Object.values(res.data)[1];
                that.arrShowTitles=[];
                for(let item of that.datalabs)
                {
                    let fkey = Object.keys(item)[0];
                    that.arrShowTitles.push(fkey.toUpperCase());
                } 
                that.datatotal=Object.values(res.data)[2];
                let p = Object.values(Object.values(res.data)[3])[0];
                that.pkey=p['pkey'];
                that.totalitems=Object.values(Object.values(Object.values(that.datatotal)[0]))[0];
                that.dealPages();
                that.getDataApps();
                }).catch(function (err) {
                });
            },
            getDatasByFilters(curpage) 
            {
                if(curpage==0)
                    return;
                if(curpage>this.totalpage&&this.totalpage!=0)
                    return;
                let view_filters = document.getElementById("view_prp_filters");
                let paras = {};
                paras['viewCode']=window.viewcode;
                for (let node of view_filters.childNodes) 
                {
                    let fname = node.name;
                    if(fname!=undefined)
                    {
                        let farrs=fname.split("_");
                        if(farrs.length==3&&farrs[0]=="filter")
                        {
                            paras[fname]=node.value;
                        }
                    }
                }
                paras['curPage']=curpage;
                paras['pageItmes']=this.pageitems;
                paras['filter_apptype_equal']=this.apptype;
                paras['order_snum#asc,snumsub#asc']='';
                var that = this;
                axios.post("./../api/datalist",paras).then(function(res){
                that.datas=Object.values(res.data)[0];    
                that.datalabs=Object.values(res.data)[1]; 
                that.arrShowTitles=[];
                for(let item of that.datalabs)
                {
                    let fkey = Object.keys(item)[0];
                    that.arrShowTitles.push(fkey.toUpperCase());
                } 
                that.datatotal=Object.values(res.data)[2];
                let p = Object.values(Object.values(res.data)[3])[0];
                that.pkey=p['pkey'];
                that.totalitems=Object.values(Object.values(Object.values(that.datatotal)[0]))[0];
                that.curpage=paras['curPage'];
                that.dealPages();
                }).catch(function (err) {
                });
            },
            getDataItem(itemid) 
            {
                let paras = {};
                paras['viewCode']=window.viewcode;
                paras['itemIDs']=itemid;
                var that = this;
                axios.post("./../api/dataget",paras).then(function(res){
                that.dataitem=Object.values(Object.values(res.data)[0])[0];    
                
                if(that.dataitem['PID']!=null&&that.dataitem['PID']!='')
                {
                    that.dataitem['SNUM'] = that.dataitem['SNUMSUB'];
                }

                if(that.dataitem['IMG']&&that.dataitem['IMG']!="")
                {
                    that.blnUpded = true;
                    that.fileContent={"filePath":that.dataitem['IMG']};
                    let simg = "<img src='"+ './../upload/' + that.fileContent['filePath'] +"' />";
                    document.getElementById("imgShow").innerHTML=simg;
                }

                if(that.dataitem['IMGSEL']&&that.dataitem['IMGSEL']!="")
                {
                    that.blnUpdedSub = true;
                    that.fileContentSub={"filePath":that.dataitem['IMGSEL']};
                    let simg = "<img src='"+ './../upload/' + that.fileContentSub['filePath'] +"' />";
                    document.getElementById("imgShowSub").innerHTML=simg;
                }

                }).catch(function (err) {
                });
            },
            getDataApps(itemid) 
            {
                    let paras = {};
                    paras['viewCode']="appportal";
                    paras['curPage']=1;
                    paras['pageItmes']=100;
                    paras['filter_apptype_equal']=this.apptype;
                    paras['filter_snumsub_equal']="0";
                    var that = this;
                    axios.post("./../api/datalist",paras).then(function(res){
                    that.dataapps=Object.values(res.data)[0];

                    }).catch(function (err) {
                    });
            },
            getPages () 
            {
                let paras = {};
                paras['viewCode']="page";
                paras['curPage']=1;
                paras['pageItmes']=100;
                paras['filter_apptype_equal']=this.apptype;
                paras['filter_pagetype_equal']="2";
                paras['order_location_asc']='';
                var that = this;
                axios.post("./../api/datalist",paras).then(function(res){
                that.datalocations= Object.values(res.data)[0];  
                }).catch(function (err) {
                });
            },
            delDatas(itemid) 
            {
                let paras = {};
                paras['viewCode']=window.viewcode;
                paras['itemIDs']=itemid;
                var that = this;
                axios.post("./../api/dataappdel",paras).then(function(res){
                that.getDatasByFilters(that.curpage);
                that.getDataApps();
                closeWin();
                document.getElementById("content-info-msg").innerHTML="Record deleted successfully!";
                document.getElementById("content-info").style.display="block";
                }).catch(function (err) {
                });
            },
            updDatas(itemid) 
            {
                let paras = {};
                paras['viewCode']=window.viewcode;
                paras['itemIDs']=itemid;
                for (let v in this.dataitem) 
                {
                    if(v!=this.pkey)
                    {
                        paras['field_'+v] = this.dataitem[v];
                    }
                }
                
                let msg="";
                if(!gCheckValueNull(this.dataitem['NAME']))
                {
                    msg = msg+"Name cannot be empty.<br>";
                }
                else
                {
                    if(!gCheckValueLen(this.dataitem['NAME'],50))
                    {
                        msg = msg+"Name length cannot exceed 50 characters.<br/>";
                    }
                }
                if(!gCheckValueNull(this.dataitem['SNUM']))
                {
                    msg=msg+"Sort order cannot be empty.<br/>";
                }
                else
                {
                    if(!gCheckValueNum(this.dataitem['SNUM'],0,1000))
                    {
                        msg=msg+"Sort order must be an integer >0 and <1000.<br/>";
                    }
                }

                if(msg!="")
                {
                    document.getElementById("updWin-info-msg").innerHTML=msg;
                    document.getElementById("updWin-info").style.display="block";
                    return;
                }

                if(this.blnUpded)
                    paras['field_IMG']=this.fileContent['filePath'];
                else
                    paras['field_IMG']=null;

                if(this.blnUpdedSub)
                    paras['field_IMGSEL']=this.fileContentSub['filePath']; 
                else
                    paras['field_IMGSEL']=null;

                paras['field_APPTYPE'] = this.apptype;
                var that = this;
                axios.post("./../api/dataappupd",paras).then(function(res)
                {
                    that.returnmsg=Object.values(Object.values(res.data)[0])[0];
                    if(that.returnmsg!="")
                    {
                        document.getElementById("updWin-info-msg").innerHTML=that.returnmsg;
                        document.getElementById("updWin-info").style.display="block";
                    }
                    else
                    {
                        that.getDatasByFilters(that.curpage);
                        that.getDataApps();
                        closeWin();
                        document.getElementById("content-info-msg").innerHTML="Record updated successfully!";
                        document.getElementById("content-info").style.display="block";
                    }
                }).catch(function (err) {
                });
    
            },
            addDatas() 
            {
                let paras = {};
                paras['viewCode']=window.viewcode;

                let msg="";
                if(!gCheckValueNull(this.dataitem['NAME']))
                {
                    msg = msg+"Name cannot be empty.<br>";
                }
                else
                {
                    if(!gCheckValueLen(this.dataitem['NAME'],50))
                    {
                        msg = msg+"Name length cannot exceed 50 characters.<br/>";
                    }
                }
                if(!gCheckValueNull(this.dataitem['SNUM']))
                {
                    msg=msg+"Sort order cannot be empty.<br/>";
                }
                else
                {
                    if(!gCheckValueNum(this.dataitem['SNUM'],0,1000))
                    {
                        msg=msg+"Sort order must be an integer >0 and <1000.<br/>";
                    }
                }

                if(msg!="")
                {
                    document.getElementById("updWin-info-msg").innerHTML=msg;
                    document.getElementById("updWin-info").style.display="block";
                    return;
                }

                for (let v in this.dataitem) 
                {
                    if(v!=this.pkey)
                    {
                        paras['field_'+v] = this.dataitem[v];
                    }
                }

                if(this.blnUpded)
                    paras['field_IMG']=this.fileContent['filePath'];
                else
                    paras['field_IMG']=null;

                if(this.blnUpdedSub)
                    paras['field_IMGSEL']=this.fileContentSub['filePath']; 
                else
                    paras['field_IMGSEL']=null;

                paras["field_APPID"]=genUUID();
                paras['field_APPTYPE'] = this.apptype;

                var that = this;
                axios.post("./../api/dataappadd",paras).then(function(res){
                    that.returnmsg=Object.values(Object.values(res.data)[0])[0];
                    if(that.returnmsg!="")
                    {
                        document.getElementById("updWin-info-msg").innerHTML=that.returnmsg;
                        document.getElementById("updWin-info").style.display="block";
                    }
                    else
                    {
                        that.getDatasByFilters(that.curpage);
                        that.getDataApps();
                        closeWin();
                        document.getElementById("content-info-msg").innerHTML="Record added successfully!";
                        document.getElementById("content-info").style.display="block";
                    }
                }).catch(function (err) {
                });
            },
            checkCodeName(str)
            {
                let n= str.search(/^[a-z0-9]*$/i);
                if(n!=-1)
                {
                    if(str.trim().length>20)
                    {
                        n=-1;
                    }
                }
                return n;
            },
            openWinVue(msg,callback,callbackpara) 
            {
                openWin(msg,callback,callbackpara);
            },
            openUpdWinVue(msg,callback,callbackpara) 
            {
                this.blnUpded=false;
                this.blnUpdedSub=false;
                this.getDataItem(callbackpara);
                this.isupd=true;
                document.getElementById("selDiv").style.display="none";
                document.getElementById("selDivSub").style.display="none";
                openUpdWin(msg,callback,callbackpara);
            },
            openAddWinVue(msg,callback,callbackpara) 
            {
                this.dataitem={};
                this.isupd=false;
                this.pageIds=[];
                this.blnUpded=false;
                this.blnUpdedSub=false;
                document.getElementById("selDiv").style.display="none";
                document.getElementById("selDivSub").style.display="none";
                openAddWin(msg,callback,callbackpara);
            },
            dealPages () 
            {
                let items = parseInt(this.totalitems);
                let pItmes = parseInt(this.pageitems);
                if(items==0)
                {
                    this.hasitmes=false;
                    return;
                }
                else
                {
                    this.hasitmes=true;
                }
                if(items % pItmes==0)
                    this.totalpage = parseInt(items/pItmes);
                else
                    this.totalpage = parseInt(items/pItmes)+1;
        
                this.beginpage = ((this.curpage-2)>=1)?(this.curpage-2):1;
                this.endpage = ((this.beginpage+4)<=this.totalpage)?(this.beginpage+4):this.totalpage;
    
                this.showpages=[];
                for(let i=this.endpage;i>=this.beginpage;i--)
                {
                    this.showpages.push({i});
                }
            }
        },
        mounted() 
        {
            this.getDatas();
            this.getPages();
        }
    }
    
    Vue.createApp(DataListVue).mount('#datalist');
    
    </script>
    <script src="./js/menu.js"></script>

</body>
</html>