<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>WSoft</title>
<link rel="stylesheet" href="./css/main.css" type="text/css"  />
<script src="./../js/vue.global.js"></script>
<script src="./../js/axios.min.js"></script>
<script>

    window.viewcode="data_fields";
    window.vDataFields=null;

    let gpagePara = {};
    getPageParas(gpagePara);

    function getPageParas(savePara) 
    {
        let pagelocation = document.location.toString();
        let paras = pagelocation.split("?");
        if (paras.length > 1) {
            paras = paras[1].split("&");
            paras.forEach(item => {
                item = item.split("=");
                savePara[item[0]] = item[1];
            })
        }
    }

</script>

</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="logDiv">
            <img src="./../upload/logo.png" height="36px" onclick="showmenuleftpc()" />
        </div>
        <div class="logoutDiv">
            <input type="button" class="btnLogout"  value="Logout" onclick="document.location.href='./../logout'" />
        </div>
    </div>   
    <div class="menu-left" >
        <ul class="menu-content" id="menu-content">
            <li v-for="data in datas" >
                    <a href="javascript:void(0)" v-show="data.PID==null&&((showpid['S'+data.MENUID])||(data.LOCATION==this.curLocation))"  @click="setMenuSession(data.MENUID,data.LOCATION)" class="active">{{data.NAME}}</a>
                    <a href="javascript:void(0)" v-show="data.PID==null&&((!showpid['S'+data.MENUID])&&(data.LOCATION!=this.curLocation))"  @click="setMenuSession(data.MENUID,data.LOCATION)" class="menu">{{data.NAME}}</a>
                    <a href="javascript:void(0)" v-show="data.PID!=null&&showpid['S'+data.PID]&&data.LOCATION==this.curLocation&&this.curLocation!=null" @click="setMenuSession(null,data.LOCATION)" class="activesub">{{data.NAME}}</a>
                    <a href="javascript:void(0)" v-show="data.PID!=null&&showpid['S'+data.PID]&&data.LOCATION!=this.curLocation" @click="setMenuSession(null,data.LOCATION)" class="menusub">{{data.NAME}}</a>
            </li>
        </ul>
    </div>
    <div class="content" id="content">
        <div class="content-title">
            <span>Field Management</span>
        </div>
        <div class="content-tab" id="datalist">
            <div class="content-tab-title">
                <span>FieldList</span>
            </div>
        <div class="content-info" id="content-info" style="display:none">
            <div class="left" id="content-info-msg"></div>
            <div class="right" onclick="closeInfoMsg(event)">&Chi;</div>
        </div>
            <div class="content-tab-filter" >
                <div class="pageselshow">
                    Per Page
                    <select class="sel" v-model="pageitems" @change="getDatasByFilters(1)">
                        <option selected>2</option>
                        <option>10</option>
                        <option>20</option>
                        <option>50</option>
                    </select>
                    Records
                </div>
                <div class="actionbtns">
                    <input type="button" value="Back" onclick="document.location.href='./data.html'" />
                </div>
                <div class="searchcombine" >
                    <input type="button" class="btn"  value="Search" @click="getDatasByFilters(1)" />
                </div>
                <div class="searchcombine" id="view_prp_filters">
                    <input type="text" class="text" name="filter_searchkey_like" value="" />
                </div>
            </div>
            <div class="content-tab-con" >
                <table class="tabdata" >
                    <tr>
                        <th v-for="datalab in datalabs">{{Object.values(datalab)[0]}}</th>
                        <th>Actions</th>
                    </tr>
                    <tr v-for="data in datas">
                        <template v-for="item in datalabs">
                            <td v-if="arrShowTitles.indexOf(Object.keys(item)[0])!=-1">{{data[Object.keys(item)[0]]}}</td>
                        </template>
                        <td>
                            <ul class="action-content" v-if="data['FIELD']!='id'&&data['FIELD']!='wfmworklistid'&&data['FIELD']!='updpsnid'&&data['FIELD']!='updtime'&&data['FIELD'].indexOf('sys')!=0&&data['FIELD']!='form'&&data['FIELD']!='sysstatus'&&data['FIELD']!='pdffile'&&data['FIELD']!='dguid'">
                                <li  v-if="data['FIELDINDB']=='1'&&data['ISINDEX']=='1'">
                                    <a style="width:60px" href="javascript:void(0)" @click="openWinVue('Delete this index?',delIndex,data)">Del Index</a>
                                </li>
                                <li  v-if="data['FIELDINDB']=='1'&&data['ISINDEX']=='0'">
                                    <a style="width:60px" href="javascript:void(0)" @click="openWinVue('Add an index?',addIndex,data)">Add Index</a>
                                </li>
                                <li><a href="javascript:void(0)" @click="openWinVue('Are you sure you want to delete this record?<br><font color=red>Note: Data in this field will also be deleted and cannot be recovered!</font>',delDatas,data[pkey])"><img width="23" src="./imgs/del.png"></a></li>
                            </ul>
                    </td>
                    </tr>
                </table>
            </div>
            <div class="content-tab-pages">
                <div class="itemsshow">
                    <span>Total {{totalitems}} records</span>
                </div>
                <div class="pagesshow" id="pagesshow" v-show="hasitmes">
                    <ul class="page-content">
                        <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage+1)">Next</a></li>
                        <li v-for="page in showpages">
                            <a href="javascript:void(0)" v-if="page.i==this.curpage" @click="getDatasByFilters(page.i)" class="active">{{page.i}}</a>
                            <a href="javascript:void(0)" v-if="page.i!=this.curpage" @click="getDatasByFilters(page.i)" >{{page.i}}</a>
                        </li>
                        <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage-1)">Previous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <div class="footer">
        Copyright by WSoft
    </div> 
    <div id="coverWin" class="coverWin"></div>
    <div id="modalWin" class="modalWin">
        <div class="modalWinMsg" ><div id="modalWinMsg"></div></div>
        <div class="modalWinBtn">
            <input type="button" class="btnOK"  value="OK" onclick="openWinOK()" />
            <input type="button" class="btnCancle"  value="Cancel" onclick="closeWin()" />
        </div>
    </div>
    <div class="codeVal" id="codeVal" style="display:none">
        <iframe id="codeValiframe" frameborder="no" marginwidth="0" marginheight="0" src="./code_design.html" ></iframe>
    </div>
</div>

<script>

window.callback=null;
window.callbackpara=null;

function openWin(msg,callback,callbackpara) 
{
    document.getElementById("coverWin").style.display="block";
    document.getElementById("modalWin").style.display="block";
    document.getElementById("modalWinMsg").innerHTML=msg;
    window.callback=callback;
    window.callbackpara=callbackpara;
}
function openUpdWin(msg,callback,callbackpara) 
{
    document.getElementById("coverWin").style.display="block";
    document.getElementById("updWin").style.display="block";
    document.getElementById("content-info").style.display="none";
    window.callback=callback;
    window.callbackpara=callbackpara;
}
function openAddWin(msg,callback,callbackpara) 
{
    document.getElementById("coverWin").style.display="block";
    document.getElementById("updWin").style.display="block";
    document.getElementById("content-info").style.display="none";
    window.callback=callback;
    window.callbackpara=callbackpara;
}
function openWinOK() 
{
    window.callback(window.callbackpara); 
}

function closeWin() 
{
    document.getElementById("coverWin").style.display="none";
    document.getElementById("modalWin").style.display="none";
    document.getElementById("updWin").style.display="none";
}

function closeInfoMsg(e) 
{
    e.srcElement.parentElement.style.display="none";
}
const DataListVue = 
{
    data() 
    {
        return {
            datas:null,
            createtype:"1",
            datatemps:null,
            dataitem:{},
            datalabs:null,
            datatotal:null,
            datalocations:null,
            curpage:1,
            totalpage:0,
            totalitems:0,
            pageitems:10,
            beginpage:0,
            endpage:0,
            showpages:[],
            hasitmes:true,
            pkey:null,
            isupd:true,
            oldlocation:"",
            returnmsg:'',
            arrShowTitles:[],
            dataRols:[],
            dbCodes:null,
            Roles:null,
            dataFields:null
        }
    },
    methods: 
    {
        addIndex(d)
        {
            let paras = {};
            paras['viewCode']=d['TABLENAME'];
            paras['field']=d['FIELD'];
            paras['itemIDs']=d['ID'];
            var that = this;
            axios.post("./../api/datafieldsindexadd",paras).then(function(res){
            that.getDatasByFilters(that.curpage);
            closeWin();
            document.getElementById("content-info-msg").innerHTML="Record deleted successfully!";
            document.getElementById("content-info").style.display="block";
            }).catch(function (err) {
            });
        },
        delIndex(d)
        {
            let paras = {};
            paras['viewCode']=d['TABLENAME'];
            paras['field']=d['FIELD'];
            paras['itemIDs']=d['ID'];
            var that = this;
            axios.post("./../api/datafieldsindexdel",paras).then(function(res){
            that.getDatasByFilters(that.curpage);
            closeWin();
            document.getElementById("content-info-msg").innerHTML="Index deleted successfully!";
            document.getElementById("content-info").style.display="block";
            }).catch(function (err) {
            });
        },
        setDatalocation(dl)
        {
            this.datalocations=dl;	
        },
        getDatas () 
        {
            let paras = {};
            paras['viewCode']=window.viewcode;
            paras['curPage']=this.curpage;
            paras['pageItmes']=this.pageitems;
            paras['filter_dataid_equal']=gpagePara['dataID'];
            var that = this;
            axios.post("./../api/datalist",paras).then(function(res){
            that.datas=Object.values(res.data)[0];    
            that.datalabs=Object.values(res.data)[1];
            that.arrShowTitles=[];
            for(let item of that.datalabs)
            {
                let fkey = Object.keys(item)[0];
                that.arrShowTitles.push(fkey.toUpperCase());
            }   
            that.datatotal=Object.values(res.data)[2];
            let p = Object.values(Object.values(res.data)[3])[0];
            that.pkey=p['pkey'];
            that.totalitems=Object.values(Object.values(Object.values(that.datatotal)[0]))[0];
            that.dealPages();
            that.getTemps();
            }).catch(function (err) {
            });
        },
        getDatasByFilters(curpage) 
        {
            if(curpage==0)
                return;
            if(curpage>this.totalpage&&this.totalpage!=0)
                return;
            let view_filters = document.getElementById("view_prp_filters");
            let paras = {};
            paras['viewCode']=window.viewcode;
            paras['filter_dataid_equal']=gpagePara['dataID'];
            for (let node of view_filters.childNodes) 
            {
                let fname = node.name;
                if(fname!=undefined)
                {
                    let farrs=fname.split("_");
                    if(farrs.length==3&&farrs[0]=="filter")
                    {
                        paras[fname]=node.value;
                    }
                }
            }
            paras['curPage']=curpage;
            paras['pageItmes']=this.pageitems;
            var that = this;
            axios.post("./../api/datalist",paras).then(function(res){
                that.datas=Object.values(res.data)[0];    
                that.datalabs=Object.values(res.data)[1];  
                that.arrShowTitles=[];
                for(let item of that.datalabs)
                {
                    let fkey = Object.keys(item)[0];
                    that.arrShowTitles.push(fkey.toUpperCase());
                } 
                that.datatotal=Object.values(res.data)[2];
                let p = Object.values(Object.values(res.data)[3])[0];
                that.pkey=p['pkey'];
                that.totalitems=Object.values(Object.values(Object.values(that.datatotal)[0]))[0];
                that.curpage=paras['curPage'];
                that.dealPages();
                that.getTemps();
            }).catch(function (err) {
            });
        },
        getDataItem(itemid) 
        {
            let paras = {};
            paras['viewCode']=window.viewcode;
            paras['itemIDs']=itemid;
            var that = this;
            axios.post("./../api/dataget",paras).then(function(res){
            that.dataitem=Object.values(Object.values(res.data)[0])[0];   
 
            }).catch(function (err) {
                alert("Initialization error"+err);
            });
        },
        delDatas(itemid) 
        {
            let paras = {};
            paras['viewCode']=window.viewcode;
            paras['itemIDs']=itemid;
            var that = this;
            axios.post("./../api/datafieldsdel",paras).then(function(res){
            that.getDatasByFilters(that.curpage);
            closeWin();
            document.getElementById("content-info-msg").innerHTML="Record deleted successfully!";
            document.getElementById("content-info").style.display="block";
            }).catch(function (err) {
            });
        },
        openWinVue(msg,callback,callbackpara) 
        {
            openWin(msg,callback,callbackpara);
        },
        dealPages () 
        {
            let items = parseInt(this.totalitems);
            let pItmes = parseInt(this.pageitems);
            if(items==0)
            {
                this.hasitmes=false;
                return;
            }
            if(items % pItmes==0)
                this.totalpage = parseInt(items/pItmes);
            else
                this.totalpage = parseInt(items/pItmes)+1;
    
            this.beginpage = ((this.curpage-2)>=1)?(this.curpage-2):1;
            this.endpage = ((this.beginpage+4)<=this.totalpage)?(this.beginpage+4):this.totalpage;

            this.showpages=[];
            for(let i=this.endpage;i>=this.beginpage;i--)
            {
                this.showpages.push({i});
            }
        }
    },
    mounted() 
    {
        this.getDatas();
    }
}

Vue.createApp(DataListVue).mount('#datalist');

</script>
<script src="./js/menu.js"></script>
</body>
</html>