<div id="menu-content[@configid@]">
    <div v-for="data in topmenu" style="float:left;" class="dropitem[@configid@]"> 
            <div v-if="(!showpid['S'+data.APPID])&&data.LOCATION!=this.curLocation" class="dropbtn[@configid@]" @click="setMenuSession(data.LOCATION)">
                <img v-if="data.IMG" :src="'./../upload/'+data.IMG" @mouseover="onImgOver(data.IMGSEL,$event)" @mouseout="onImgOut(data.IMG,$event)" />
                <div v-if="!data.IMG" style="width:100%">{{data.NAME}}</div>
            </div>
            <div v-if ="showpid['S'+data.APPID]||data.LOCATION==this.curLocation" class="dropbtnsel[@configid@]">
                <img v-if="data.IMGSEL" :src="'./../upload/'+data.IMGSEL" />
                <div v-if="!data.IMGSEL" style="width:100%">{{data.NAME}}</div>
            </div>
            <div class="dropcontent[@configid@]" >
                <ul class="menu-content[@configid@]" >
                    <li v-for="datasub in data['CHILDS']">
                        <a href="javascript:void(0)" @click="setMenuSession(datasub.LOCATION)" v-if="!datasub.IMG" >{{datasub.NAME}}</a>
                        <img style="cursor:pointer;" @click="setMenuSession(datasub.LOCATION)" v-if="datasub.IMG" :src="'./../upload/'+datasub.IMG" @mouseover="onImgOver(datasub.IMGSEL,$event)" @mouseout="onImgOut(datasub.IMG,$event)" />
                    </li>    
                </ul>
            </div>
    </div>
</div>
