.updWin-content-item[@configid@]
{ 
    width:100%;
    box-sizing: border-box;
    margin-bottom:10px;
    float:left;
}
.updWin-content-item[@configid@] .left
{ 
    width:[@titlewidth@];
    box-sizing: border-box;
    font-size:[@itemfontsize@];
    line-height:[@itemheight@];
    padding-right:15px;
    text-align:[@titlealign@];
    font-weight: bold;
    float:left;
}
.updWin-content-item[@configid@] .right
{
    width:[@namewidth@];
    box-sizing: border-box;
    font-size:[@itemfontsize@];
    line-height:[@itemheight@];
    text-align:left;
    line-height:40px;
    float:left;
}
.updWin-content-item[@configid@] select
{
  border: 1px solid rgb(234, 237, 241);
  border-radius: 0.8em;
  font-size:[@itemfontsize@];
  height:[@itemheight@];
  min-width:200px;
  width:70%;
  padding: 5px;
  padding-left: 15px;
  margin-bottom: 5px;
  margin-left: 0px;
  outline: none;
  box-sizing: border-box;
}