<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>WSoft</title>
<link rel="stylesheet" href="./css/com.css" type="text/css"  />
<script src="./../../../../js/vue.global.js"></script>
<script src="./../../../../js/axios.min.js"></script>
</head>
<body>

<div id="updWin" class="updWin" >
    <div class="updWin-info" id="updWin-info" style="display:none">
        <div class="left" id="updWin-info-msg"></div>
        <div class="right" onclick="closeInfoMsg(event)">&Chi;</div>
    </div>
    <div class="updWin-content" >
        <div class="updWin-content-item" >
            <div class="left">Title</div>
            <div class="right"><input type="text" v-model="dataitem.config.fieldtitle" /></div>
        </div>
        <div class="updWin-content-item" id="divDbField">
            <div class="left">Field</div>
            <div class="right">
                <input type="text" v-model="dataitem.config.fieldname" style="width:200px"/>
                Max Length：<input type="text" style="width:20%" v-model="dataitem.config.fieldlen" placeholder="Enter StringMax Length" style="width: 20%"  />
                <input class="btnOK" id="inpDbField" type="button"  onclick="selFieldGetDbFields(event)" value="+Existing Field" style="width:120px">
                <div class="selDiv" style="display:none;" ><select class="varSelValue" style="margin-bottom: 10px;">
                    <option></option></select><br/><input class="btnOK" type="button" value="Select" onclick="selFieldAdd(event)" /><input class="btnCancle" type="button" value="Cancel" onclick="selCloseAdd(event)" />
                </div>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">DB Field</div>
            <div class="right" style="line-height:40px">
                <input type="radio" name="radiofif" value="" v-model="dataitem.config.fieldinfile" ><label>Yes</label>
                <input type="radio" name="radiofif" value="1" v-model="dataitem.config.fieldinfile" ><label>No</label>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Style</div>
            <div class="right"  style="line-height: 40px;">
                <input onchange="gChangeStyles()" type="radio" name="radioapptype" value="1" v-model="dataitem.config.apptype" ><label>PC</label>
                <input onchange="gChangeStyles()" type="radio" name="radioapptype" value="2" v-model="dataitem.config.apptype" ><label>Mobile</label><Br/>
                <div style="float:left;width:100%">
                    Title Visible: <input type="checkbox" v-model="dataitem.config.titleshow" style="width: 12%"/>
                </div>
                <div v-show="dataitem.config.titleshow" style="float:left;padding-left: 20px;">
                    Title Width: <input type="text" v-model="dataitem.config.titlewidth" style="width:60px" />&nbsp;&nbsp;
                    Align: <input type="radio" name="radioalign" value="right" v-model="dataitem.config.titlealign" ><label>Right</label>
                    <input type="radio" name="radioalign" value="left" v-model="dataitem.config.titlealign" ><label>Left</label>
                </div>
                <div style="float:left">
                    Content Width: <input type="text" v-model="dataitem.config.namewidth" style="width:60px" />
                    Row Height: <input type="text" v-model="dataitem.config.itemheight" style="width:60px" />
                    Font Size: <input type="text" v-model="dataitem.config.itemfontsize" style="width:60px" />
                </div>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Read Only</div>
            <div class="right" style="line-height:40px">
                <input type="radio" name="radiosview" value="true" v-model="dataitem.config.isview" ><label>Yes</label>
                <input type="radio" name="radiosview" value="false" v-model="dataitem.config.isview" ><label>No</label>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Data Source</div>
            <div class="right">
                <select  v-model="dataitem.config.viewcode" @change="selDataItem" style="width:60%">
                    <option></option>
                    <option v-for="v in viewdatas"  name="viewcode" :value="v['TABLENAME']" >{{v['NAME']}}</option>
                </select>
                <input type="radio" name="radiopubtype"  value="" v-model="dataitem.config.pubtype" ><label>Internal</label>
                <input type="radio" name="radiopubtype"  value="portal/" v-model="dataitem.config.pubtype" ><label>Public</label>&nbsp;&nbsp;
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Field</div>
            <div class="right">
                <input type="radio" name="radios" value="1" v-model="dataitem.config.selintype" ><label>Select</label>
                <input type="radio" name="radios" value="2" v-model="dataitem.config.selintype" ><label>Input</label>
                <div v-show="dataitem.config.selintype=='1'"> 
                    Store：<select  style="width:15%" v-model="dataitem.config.big_valuefield" >
                        <option></option>
                        <option v-for="v in datafields"  name="viewcode" :value="v['FIELD'].toUpperCase()" >{{v['FIELD_TITLE']}}</option>
                    </select>
                    Display：<select  style="width:15%" v-model="dataitem.config.big_showfield" >
                        <option></option>
                        <option v-for="v in datafields"  name="viewcode" :value="v['FIELD'].toUpperCase()" >{{v['FIELD_TITLE']}}</option>
                    </select>
                </div>
                <div v-show="dataitem.config.selintype=='2'"> 
                    Store：<input type="text" style="width:20%" v-model="dataitem.config.big_valuefield" >
                    Display：<input type="text" style="width:20%" v-model="dataitem.config.big_showfield" >
                </div>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Type</div>
            <div class="right">
                <input type="radio" name="radiostype" value="1" v-model="dataitem.config.seltype" ><label>Single Select</label>
                <input type="radio" name="radiostype" value="2" v-model="dataitem.config.seltype" ><label>Multi Select</label>
                &nbsp;&nbsp;SearchNotice：<input type="text" v-model="dataitem.config.searchinfo" style="width: 160px;" /><br>
                <input type="checkbox" v-model="dataitem.config.caninput" style="width:20px" />Can Input&nbsp;
                <input type="checkbox" v-model="dataitem.config.noevent" style="width:20px" />No trigger on value set
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Required</div>
            <div class="right" style="line-height:40px" ><input type="checkbox" v-model="dataitem.config.fieldnoempty" /></div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Display</div>
            <div class="right" style="line-height:40px">
                List：<input type="checkbox" v-model="dataitem.config.fieldshow" style="width:6%"/>
                Form：<input type="checkbox" v-model="dataitem.config.formshow" style="width:6%" />
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Event</div>
            <div class="right">
                <span>SelectOn Value Change: </span>
                <input type="button" class="btnOK"  value="Design Code" onclick="parent.openCodeValWin('onchange');" />
            </div>
        </div>
    </div>
</div>
<script src="./../../../js/funcconfig.js"></script>

<script>

const ComConfigVue = 
{
    data() 
    {
        return {
            viewdatas:null,
            datafields:null,
            dataitem:{
                "comid":"1011",
                "comname":"SearchSelect",
                "comtitle":"",
                "needval":"true",
                "code":{"onchange":{}},
                "config":{"noevent":false,"caninput":false,"fieldinfile":"","apptype":"1","lan":"e","isview":"false","fieldselvalue":"","fieldtxt":"1","searchinfo":"","fieldname":"","fieldtype":"nvarchar2","fieldlen":"200","seltype":"1","selintype":"1","titlewidth":"15%","namewidth":"85%","fieldtitle":"","titleshow":true,"titlealign":"right","fieldshow":true,"formshow":true,"viewcode":"","big_valuefield":"","big_showfield":"","fieldnoempty":false,"fieldnoemptylbl":"","pubtype":""},
                "attrget":{"Selectvalue":"","selectText":"seltext"},
                "attrset":{"Selectvalue":"","selectText":"seltext","Display":"s#display","readonly":"s#isview"},
                "attrtitle":{},
                "attrsubmit":{"value":"","valuetxt":""}
            }
        }
    },
    methods: 
    {
        selDataItem() 
        {
            let paras = {};
            paras['viewCode']="data_fields";
            paras['curPage']=1;
            paras['pageItmes']=100;
            paras['filter_tablename_equal']=this.dataitem.config.viewcode;
            var that = this;
            axios.post("./../../../../api/datalist",paras).then(function(res){
            that.datafields=Object.values(res.data)[0];    
            }).catch(function (err) {
            });
        },
        getDataItem() 
        { 
            if(this.dataitem.config.fieldname)
                this.dataitem.config.fieldname=this.dataitem.config.fieldname.toUpperCase();

            if(this.dataitem.config.big_valuefield)
                this.dataitem.config.big_valuefield = this.dataitem.config.big_valuefield.toUpperCase();
            
            if(this.dataitem.config.big_showfield)
                this.dataitem.config.big_showfield = this.dataitem.config.big_showfield.toUpperCase();
            
            if(this.dataitem.config.fieldnoempty)
                this.dataitem.config.fieldnoemptylbl = "<span class=\"noempty\">*</span>";
            else
                this.dataitem.config.fieldnoemptylbl = "";
            this.dataitem.comtitle=this.dataitem.config.fieldtitle;
            this.dataitem.attrget.Selectvalue=this.dataitem.config.fieldname;
            this.dataitem.attrset.Selectvalue=this.dataitem.config.fieldname;
            this.dataitem.attrsubmit.value=this.dataitem.config.fieldname;
            this.dataitem.attrsubmit.valuetxt=this.dataitem.config.fieldname+"STXT";

            let oar={};
            oar[this.dataitem.attrsubmit.valuetxt]=this.dataitem.config.fieldtitle;
            if(this.dataitem.config.fieldshow)
                this.dataitem.attrtitle=oar;
            else
                this.dataitem.attrtitle={};
            
            let fieldSelValue = {};
            let fieldvalue = {};
            fieldvalue['viewcode'] = this.dataitem.config.viewcode;
            fieldvalue['searchinfo'] = this.dataitem.config.searchinfo;
            fieldvalue['valuefield'] = this.dataitem.config.big_valuefield;
            fieldvalue['showfield'] = this.dataitem.config.big_showfield;
            fieldSelValue['type'] = "searchsel";
            fieldSelValue['value'] = fieldvalue;
            this.dataitem.config.fieldselvalue = fieldSelValue;

            let viewhtml = "";
            let tshow = "display:none"
            if(this.dataitem.config.titleshow)
            {
                tshow = "display:blcok";
            }
            let noempty="";
            if(this.dataitem.config.fieldnoempty)
            {
                noempty = "<font color=red>*</font>";
            }

            viewhtml = viewhtml + "<div style=\"width:100%;float:left;margin-bottom:5px\">";
            viewhtml = viewhtml + "<div style=\""+ tshow +";width:"+ this.dataitem.config.titlewidth +";font-size:"+ this.dataitem.config.itemfontsize +";line-height:"+ this.dataitem.config.itemheight +";padding-right:15px;text-align:"+ this.dataitem.config.titlealign +";font-weight: bold;float:left;box-sizing: border-box;\">"+ this.dataitem.config.fieldtitle + noempty +"</div>";
            viewhtml = viewhtml + "<div style=\"width:"+ this.dataitem.config.namewidth +";font-size:"+ this.dataitem.config.itemfontsize +";line-height:"+ this.dataitem.config.itemheight +";float:left;box-sizing: border-box;\">";
            viewhtml = viewhtml + "<input  placeholder='Enter keyword to search' type=\"text\" style=\"border: 1px solid rgb(173, 170, 170);font-size:"+ this.dataitem.config.itemfontsize +";border-radius: 0.8em;height:"+ this.dataitem.config.itemheight +";width:70%;padding: 5px;padding-left: 15px;outline: none;box-sizing: border-box;\" />";
            viewhtml = viewhtml + "</div>";
            viewhtml = viewhtml + "</div>";

            if(this.dataitem.config.apptype=="1")
            {
                this.dataitem.config.dropdivwidth="500px";
                this.dataitem.config.selitemwidth="200px";
            }
            else
            {
                this.dataitem.config.dropdivwidth="70%";
                this.dataitem.config.selitemwidth="50%";
            }

            this.dataitem.config.viewhtml=viewhtml;

            let msg="";
            msg = gCheckField(this.dataitem.config.fieldname,this.dataitem.config.fieldlen);

            if(!this.checkSearchInfo(this.dataitem.config.searchinfo))
            {
                msg = msg + "SearchConfirm message cannot contain quotes;\n";
            }
            if(msg!="")
            {
                alert(msg);
            }
            else
                return this.dataitem;
   
        },
        checkSearchInfo(str)
        {
            if(str.indexOf("'")>=0)
                return false;
            if(str.indexOf('"')>=0)
                return false;
            return true;
        },
        getDatas() 
        {
            let paras = {};
            paras['viewCode']="data";
            paras['curPage']=1;
            paras['pageItmes']=100;
            paras['filter_open_equal']="1";
            var that = this;
            axios.post("./../../../../api/datalist",paras).then(function(res){
            that.viewdatas=Object.values(res.data)[0];     
            }).catch(function (err) {
            });
        },
        setDataItem(dataitem) 
        {
            this.dataitem=dataitem;
            this.selDataItem();
        },
        setFormValue(fValue,codename) 
        {
            let c = this.dataitem['code'];
            c[codename] = fValue;
        },
        getFormValue(codename) 
        {
            let c = this.dataitem['code'];
            return c[codename];
        }, 
        getDataItemSub() 
        {
            return this.dataitem;
        }
    },
    mounted() 
    {
        this.getDatas();
        window.getDataItem = this.getDataItem;
        window.getDataItemSub = this.getDataItemSub;
        window.setDataItem = this.setDataItem;
        window.setFormValue = this.setFormValue;
        window.getFormValue = this.getFormValue;

        gInitConfig();
    }
}

Vue.createApp(ComConfigVue).mount('#updWin');

</script>

</body>
</html>