.form-action 
{
    overflow:visible;
    box-sizing: border-box;
    z-index: 999;
}
.form-action .btnReturn
{
    border-style: none;
    border-radius: 2em;
    background-color: #06b6d4;
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:158px;
    cursor: pointer;
    outline:none;
    box-sizing: border-box;
    margin-bottom:10px;
    float:right;
}
.form-action .btnReturn:hover
{
    background-color: #0891b2;
    box-shadow: 0 1px 3px rgba(6, 182, 212, 0.04);
}
.form-action .btnBlue
{
    border-style: none;
    border-radius: 2em;
    background-color: #06b6d4;
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:158px;
    cursor: pointer;
    outline:none;
    box-sizing: border-box;
    margin-left:5px;
    float:right;
}
.form-action .btnBlue:hover
{
    background-color: #0891b2;
    box-shadow: 0 1px 3px rgba(6, 182, 212, 0.04);
}
.form-action .btnApp
{
    border-style: none;
    border-radius: 2em;
    background-color:#06b6d4;
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:158px;
    cursor: pointer;
    outline:none;
    box-sizing: border-box;
    margin-left:5px;
    float:right;
}
.form-action .btnOK:hover
{
    background-color: #0891b2;
    box-shadow: 0 1px 3px rgba(6, 182, 212, 0.04);
}
.form-action .btnCancle
{
    border-style: none;
    border-radius: 2em;
    background-color: rgb(205, 209, 212);
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:158px;
    cursor: pointer;
    margin-left: 10px;
    outline:none;
    box-sizing: border-box;
    float:right;
}
.form-action .btnCancle:hover
{
    background-color: #06b6d4;
}
.form-action .selReject
{
    border: none;
    margin-left: 8px;
    border-radius: 0.8em;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    line-height:[@itemheight@];
    background-color: rgb(234, 237, 241);
    padding: 5px;
    box-sizing: border-box;
    float:right;
}
.form-action-info
{
    color: black;
    font-size:0.8em;
    background-color:rgb(241, 215, 180);
    border: none;
    border-radius: 2em;
    width:100%;
    font-size:[@itemfontsize@];
    min-height:[@itemheight@];
    line-height:[@itemheight@];
    margin-top:10px;
    box-sizing: border-box;
    float:right;
}
.form-action-info .left
{
    float:left;
    width:100%;
    text-align: center;
    box-sizing: border-box;
    border: none;
}
.form-action-note
{
    color: black;
    font-size:0.8em;
    background-color:rgb(201, 226, 197);
    border: 1px solid rgb(112, 189, 116);
    border-radius: 0.5em;
    width:100%;
    font-size:[@itemfontsize@];
    min-height:[@itemheight@];
    line-height:[@itemheight@];
    margin-top:10px;
    box-sizing: border-box;
    float:right;
}
.form-action-note .left
{
    float:left;
    width:100%;
    text-align: center;
    box-sizing: border-box;
    border: none;
}
.form-actionMobile 
{
    overflow:visible;
    box-sizing: border-box;
    z-index: 999;
}

.form-actionMobile .btnBlue
{
    border-style: none;
    border-radius: 2em;
    background-color: rgb(46, 162, 240);
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:100%;
    cursor: pointer;
    outline:none;
    box-sizing: border-box;
    margin-bottom:10px;
    float:left;
}
.form-actionMobile .btnBlue:hover
{
    background-color: rgb(102, 183, 238);
}
.form-actionMobile .btnApp
{
    border-style: none;
    border-radius: 2em;
    background-color: rgb(247, 164, 71);
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:100%;
    cursor: pointer;
    outline:none;
    box-sizing: border-box;
    margin-bottom:10px;
    float:left;
}
.form-actionMobile .btnApp:hover
{
    background-color: rgb(240, 182, 116);
}
.form-actionMobile .btnReturn
{
    border-style: none;
    border-radius: 2em;
    background-color: rgb(46, 162, 240);
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:40%;
    cursor: pointer;
    outline:none;
    box-sizing: border-box;
    margin-bottom:10px;
    float:left;
}
.form-actionMobile .btnReturn:hover
{
    background-color: rgb(102, 183, 238);
}
.form-actionMobile .btnCancle
{
    border-style: none;
    border-radius: 2em;
    background-color: rgb(205, 209, 212);
    color:#fff;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:100%;
    cursor: pointer;
    margin-bottom:10px;
    outline:none;
    box-sizing: border-box;
    float:left;
}
.form-actionMobile .btnCancle:hover
{
    background-color: rgb(247, 164, 71);
}
.form-actionMobile .selReject
{
    border: none;
    margin-left: 8px;
    border-radius: 0.8em;
    font-size:[@itemfontsize@];
    height:[@itemheight@];
    width:58%;
    line-height:[@itemheight@];
    background-color: rgb(234, 237, 241);
    padding: 5px;
    box-sizing: border-box;
    margin-bottom:10px;
    float:left;
}
