.updWin-content-item[@configid@]
{ 
    width:100%;
    box-sizing: border-box;
    margin-bottom:5px;
    float:left;
}
.updWin-content-item[@configid@] .right
{
    width:[@namewidth@];
    box-sizing: border-box;
    text-align:[@namealign@];
    white-space: pre;
    line-height:[@lineheight@]; 
    font-size:[@fontsize@];
    color:[@fontcolor@];
    font-family:[@fontfamily@];
    font-weight:[@fontweight@];
    font-style:[@fontstyle@];
    white-space: wrap;
    float:left;
}
