<div class="content-tab[@configid@]" id="datalist[@configid@]" style="display:none">
    <div class="content-tab-title">
        <span>[@fieldtitle@]</span>
    </div>
    <div class="content-info[@configid@]" id="content-info1[@configid@]" style="display:none">
        <div class="left" id="content-info-msg1[@configid@]"></div>
        <div class="right" onclick="closeInfoMsg[@configid@](event)">&Chi;</div>
    </div>
    <div class="content-tab-filter" >
        <div class="pageselshow">
            [@cappegenum1@]
            <select class="sel" v-model="pageitems" @change="getDatasByFilters(1)">
                <option selected>2</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            [@cappegenum2@]
        </div>
        <div class="actionbtns">
            <input  v-show="this.showaddbtn" type="button" value="+[@capaddbtn@]" @click="openAddWinVue('',addDatas,'')" />
            [@btntophtml@]
        </div>
        <div class="searchcombine" >
            <input type="button" class="btn"  value="[@btnsearch@]" @click="getDatasByFilters(1)" />
        </div>
        <div class="searchcombine" id="view_prp_filters1[@configid@]">
            <input type="text" class="text" name="filter_searchkey_like" value="" />
        </div>
    </div>
    <div class="content-tab-con" >
        <table class="tabdata" >
            <tr>
                <th v-show="this.checkboxshow"><input type="checkbox" :checked="selAll" @click="checkedAllId()"></th>
                <th v-for="datalab in datalabs" @click="sortdata(Object.keys(datalab)[0])" >
                    {{showDataLbl(Object.values(datalab)[0])}} 
                    <img v-show="this.sortfield==Object.keys(datalab)[0]&&this.sorttype=='asc'" src="./imgs/sortasc.png" />
                    <img v-show="this.sortfield==Object.keys(datalab)[0]&&this.sorttype=='desc'" src="./imgs/sortdesc.png" /></th>
                <th>[@capaction@]</th>
            </tr>
            <tr v-for="data in datas">
                <td v-show="this.checkboxshow" style="text-align: center;"><input type="checkbox" :checked="selIds.indexOf(data[pkey])>=0" name="checkboxinput" @click="checkedOneId(data[pkey])"></td>
                <template v-for="item in datalabs">
                    <td v-if="arrShowTitles.indexOf(Object.keys(item)[0])!=-1">{{showDataItem(Object.keys(item)[0],data[Object.keys(item)[0]])}}</td>
                </template>
                <td>
                    <ul class="action-content">
                        <li v-if="this.showupdbtn"><a href="javascript:void(0)" @click="openUpdWinVue('',updDatas,data[pkey])"><img width="23"  src="./imgs/update.png"></a></li>
                        <li v-if="this.showdelbtn"><a href="javascript:void(0)" @click="openWinVue('[@infodel@]',delDatas,data[pkey])"><img width="23" src="./imgs/del.png"></a></li>
                        [@btnmidhtml@]
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="content-tab-pages">
        <div class="itemsshow">
            <span>{{totalitems}} [@cappegenum3@]</span>
        </div>
        <div class="pagesshow" id="pagesshow" v-show="hasitmes">
            <ul class="page-content">
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage+1)">[@pagedown@]</a></li>
                <li v-for="page in showpages">
                    <a href="javascript:void(0)" v-if="page.i==this.curpage" @click="getDatasByFilters(page.i)" class="active">{{page.i}}</a>
                    <a href="javascript:void(0)" v-if="page.i!=this.curpage" @click="getDatasByFilters(page.i)" >{{page.i}}</a>
                </li>
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage-1)">[@pageup@]</a></li>
            </ul>
        </div>
    </div>
    <div id="updWin1[@configid@]" class="updWin[@configid@]">
        <div class="updWin-info" id="updWin-info1[@configid@]" style="display:none">
            <div class="left" id="updWin-info-msg1[@configid@]"></div>
            <div class="right" onclick="closeInfoMsg[@configid@](event)">&Chi;</div>
        </div>
        <div class="updWin-content" >
            <div class="updWin-content-item" v-show="this.isupd">
                <div class="left">ID</div>
                <div class="right"><input type="text" readonly class="readonly" v-model="dataitem.PSNID"  /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmname@]</div>
                <div class="right"><input type="text" v-model="dataitem.NAME" name="filed_name"  /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmno@]</div>
                <div class="right"><input type="text" v-model="dataitem.EMPID" name="filed_empid"/></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmsex@]</div>
                <div class="right" style="line-height: 40px;">
                    <input type="radio" v-model="dataitem.GENDER" value='1' name="gender[@configid@]" ><label>&nbsp;[@frmsex1@]&nbsp;</label>
                    <input type="radio" v-model="dataitem.GENDER" value="2" name="gender[@configid@]" ><label>&nbsp;[@frmsex2@]&nbsp;</label>
                    <input type="radio" v-model="dataitem.GENDER" value="3" name="gender[@configid@]" ><label>&nbsp;[@frmsex3@]&nbsp;</label>
                </div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmdob@]</div>
                <div class="right"><input type="text" v-model="dataitem.BIRTHDAY" id="birthday1[@configid@]" placeholder="eg：2000-10-1"/></div>
            </div>
            <div class="updWin-content-item" >
                <div class="left">[@frmdept@]</div>
                <div class="right" >
                    <select  v-model="dataitem.DEPTID" class="sel" id="selDeptid1[@configid@]" style="width:200px">
                        <option></option>
                        <template v-for="v in depts">
                            <option  v-if="v['PID']!='0'"  :value="v['DEPTID']" >&nbsp;&nbsp;&nbsp;&nbsp;{{v['NAME']}}</option>
                            <option  v-if="v['PID']=='0'"  :value="v['DEPTID']" >{{v['NAME']}}</option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="updWin-content-item" >
                <div class="left">[@frmrole@]</div>
                <div class="right" >
                    <div v-for='(role, index) in roles' :key="index">
                    <input type='checkbox' :checked="roleIds.indexOf(role.ROLEID)>=0" name='checkboxinput' class='input-checkbox' @click='checkedOne(role.ROLEID)'>&nbsp;{{role.NAME}}
                    </div>
                </div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmemail@]</div>
                <div class="right"><input type="text" v-model="dataitem.EMAIL"  /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmtel@]</div>
                <div class="right"><input type="text" v-model="dataitem.TEL"   /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmmobile@]</div>
                <div class="right"><input type="text" v-model="dataitem.MOBILE"   /></div>
            </div>
        </div>
        <div class="updWinBtn">
            <input type="button" class="btnOK"  value="[@btnsave@]" onclick="openWinOK[@configid@]()" />
            <input type="button" class="btnCancle"  value="[@btncancle@]" onclick="closeWin[@configid@]()" />
        </div>
    </div>
</div>

<div class="content-tabmobile[@configid@]" id="datalistmobile[@configid@]" style="display:none">
    <div class="content-tab-title">
        <span>[@fieldtitle@]</span>
    </div>
    <div class="content-info[@configid@]" id="content-info2[@configid@]" style="display:none">
        <div class="left" id="content-info-msg2[@configid@]"></div>
        <div class="right" onclick="closeInfoMsg[@configid@](event)">&Chi;</div>
    </div>
    <div class="content-tab-filter" >
        <div class="pageselshow">
            [@cappegenum1@]
            <select class="sel" v-model="pageitems" @change="getDatasByFilters(1)">
                <option selected>2</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            [@cappegenum2@]
        </div>
        <div class="actionbtns">
            <input type="button" v-show="this.showaddbtn" type="button" value="+[@capaddbtn@]" @click="openAddWinVue('',addDatas,'')" />
            [@btntophtml@]
        </div>
        <div style="float:left;width:100%">
            <div class="searchcombine" style="width:75%" id="view_prp_filters2[@configid@]">
                <input type="text" class="text" name="filter_searchkey_like" value="" />
            </div>
            <div class="searchcombine" style="width:25%">
                <input type="button" class="btnsub"  value="[@btnsearch@]" @click="getDatasByFilters(1)" />
            </div>
        </div>
    </div>
    <div class="content-tab-con" >
        <table class="tabdata" >
            <tr>
                <th><input type="checkbox" :checked="selAll" @click="checkedAllId()"></th>
                <th><span v-for="datalab in datalabs">{{showDataLbl(Object.values(datalab)[0])}}/</span>[@capaction@]</th>
            </tr>
            <tr v-for="data in datas">
                <td v-show="this.checkboxshow" style="text-align: center;"><input type="checkbox" :checked="selIds.indexOf(data[pkey])>=0" name="checkboxinput" @click="checkedOneId(data[pkey])"></td>
                <td>
                    <template v-for="item in datalabs">
                        <div v-if="arrShowTitles.indexOf(Object.keys(item)[0])!=-1">{{showDataItem(Object.keys(item)[0],data[Object.keys(item)[0]])}}</div>
                    </template>
                    <br/>
                    <ul class="action-content">
                        [@btnmidhtml@]
                        <li v-if="this.showupdbtn"><a href="javascript:void(0)" @click="openUpdWinVue('',updDatas,data[pkey])">[@capupd@]</a></li>
                        <li v-if="this.showdelbtn"><a href="javascript:void(0)" @click="openWinVue('[@infodel@]',delDatas,data[pkey])">[@capdel@]</a></li>
                    </ul>
                </td>
            </tr>
        </table> 
    </div>
    <div class="content-tab-pages">
        <div class="itemsshow">
            <div @click="downloadExcel()" style="float:left;cursor:pointer" >
                <div style="float:left;padding-top:2px"><img height="[@itemheight@]" @click="downloadExcel()" src="./imgs/excel.png" /></div>
                <div style="float:left">&nbsp;{{totalitems}} [@cappegenum3@]  </div>
            </div>
        </div>
        <div class="pagesshow" id="pagesshow" v-show="hasitmes">
            <ul class="page-content">
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage+1)" style="width:128px">[@pagedown@]</a></li>
                <li v-for="page in showpages">
                    <a href="javascript:void(0)" v-if="page.i==this.curpage" @click="getDatasByFilters(page.i)" class="active">{{page.i}}</a>
                    <a href="javascript:void(0)" v-if="page.i!=this.curpage" @click="getDatasByFilters(page.i)" >{{page.i}}</a>
                </li>
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage-1)"  style="width:128px">[@pageup@]</a></li>
            </ul>
        </div>
    </div>
    <div id="updWin2[@configid@]" class="updWin[@configid@]">
        <div class="updWin-info" id="updWin-info2[@configid@]" style="display:none">
            <div class="left" id="updWin-info-msg2[@configid@]"></div>
            <div class="right" onclick="closeInfoMsg[@configid@](event)">&Chi;</div>
        </div>
        <div class="updWin-content" >
            <div class="updWin-content-item" v-show="this.isupd">
                <div class="left">ID</div>
                <div class="right"><input type="text" readonly class="readonly" v-model="dataitem.PSNID"  /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmname@]</div>
                <div class="right"><input type="text" v-model="dataitem.NAME" name="filed_name" /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmno@]</div>
                <div class="right"><input type="text" v-model="dataitem.EMPID" name="filed_empid"  /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmsex@]</div>
                <div class="right" style="line-height: 40px;">
                    <input type="radio" v-model="dataitem.GENDER" value='1' name="gender[@configid@]" ><label>&nbsp;[@frmsex1@]&nbsp;</label>
                    <input type="radio" v-model="dataitem.GENDER" value="2" name="gender[@configid@]" ><label>&nbsp;[@frmsex2@]&nbsp;</label>
                    <input type="radio" v-model="dataitem.GENDER" value="3" name="gender[@configid@]" ><label>&nbsp;[@frmsex3@]&nbsp;</label>
                </div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmdob@]</div>
                <div class="right"><input type="text" v-model="dataitem.BIRTHDAY" id="birthday2[@configid@]" placeholder="eg：2000-10-1"/></div>
            </div>
            <div class="updWin-content-item" >
                <div class="left">[@frmdept@]</div>
                <div class="right" >
                    <select  v-model="dataitem.DEPTID" class="sel" id="selDeptid2[@configid@]" style="width:200px">
                        <option></option>
                        <template v-for="v in depts">
                            <option  v-if="v['PID']!='0'"  :value="v['DEPTID']" >&nbsp;&nbsp;&nbsp;&nbsp;{{v['NAME']}}</option>
                            <option  v-if="v['PID']=='0'"  :value="v['DEPTID']" >{{v['NAME']}}</option>
                        </template>
                    </select>
                </div>
            </div>
            <div class="updWin-content-item" >
                <div class="left">[@frmrole@]</div>
                <div class="right" >
                    <div v-for='(role, index) in roles' :key="index">
                    <input type='checkbox' :checked="roleIds.indexOf(role.ROLEID)>=0" name='checkboxinput' class='input-checkbox' @click='checkedOne(role.ROLEID)'>&nbsp;{{role.NAME}}
                    </div>
                </div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmemail@]</div>
                <div class="right"><input type="text" v-model="dataitem.EMAIL"  /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmtel@]</div>
                <div class="right"><input type="text" v-model="dataitem.TEL"   /></div>
            </div>
            <div class="updWin-content-item">
                <div class="left">[@frmmobile@]</div>
                <div class="right"><input type="text" v-model="dataitem.MOBILE"   /></div>
            </div>
        </div>
        <div class="updWinBtn">
            <input type="button" class="btnOK"  value="[@btnsave@]" onclick="openWinOK[@configid@]()" />
            <input type="button" class="btnCancle"  value="[@btncancle@]" onclick="closeWin[@configid@]()" />
        </div>
    </div>
</div>

<div id="coverWin[@configid@]" class="coverWin[@configid@]"></div>
<div id="modalWin[@configid@]" class="modalWin[@configid@]">
    <div class="modalWinMsg"><span id="modalWinMsg[@configid@]"></span></div>
    <div class="modalWinBtn">
        <input type="button" class="btnOK"  value="[@btnok@]" onclick="openWinOK[@configid@]()" />
        <input type="button" class="btnCancle"  value="[@btncancle@]" onclick="closeWin[@configid@]()" />
    </div>
</div>