<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>WSoft</title>
<link rel="stylesheet" href="./css/com.css" type="text/css"  />
<script src="./../../../../js/vue.global.js"></script>
<script src="./../../../../js/axios.min.js"></script>
</head>
<body>

<div id="updWin" class="updWin" >
    <div class="updWin-info" id="updWin-info" style="display:none">
        <div class="left" id="updWin-info-msg"></div>
        <div class="right" onclick="closeInfoMsg(event)">&Chi;</div>
    </div>
    <div class="updWin-content" >
        <div class="updWin-content-item" >
            <div class="left">Title</div>
            <div class="right"><input type="text" v-model="dataitem.config.fieldtitle" /></div>
        </div>
        <div class="updWin-content-item" id="divDbField">
            <div class="left">Field</div>
            <div class="right">
                <input type="text" v-model="dataitem.config.fieldname" style="width:200px"/>
                <input class="btnOK" id="inpDbField" type="button"  onclick="selFieldGetDbFields(event)" value="+Existing Field" style="width:120px">
                <div class="selDiv" style="display:none;" ><select class="varSelValue" style="margin-bottom: 10px;">
                    <option></option></select><br/><input class="btnOK" type="button" value="Select" onclick="selFieldAdd(event)" /><input class="btnCancle" type="button" value="Cancel" onclick="selCloseAdd(event)" />
                </div>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">DB Field</div>
            <div class="right">
                <input type="radio" name="radiofif" value="" v-model="dataitem.config.fieldinfile" ><label>Yes</label>
                <input type="radio" name="radiofif" value="1" v-model="dataitem.config.fieldinfile" ><label>No</label>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Style</div>
            <div class="right" style="line-height: 40px;">
                <input onchange="gChangeStyles()" type="radio" name="radioapptype" value="1" v-model="dataitem.config.apptype" ><label>PC</label>
                <input onchange="gChangeStyles()" type="radio" name="radioapptype" value="2" v-model="dataitem.config.apptype" ><label>Mobile</label><Br/>
                <div style="float:left;width:100%">
                    Title Visible: <input type="checkbox" v-model="dataitem.config.titleshow" style="width: 12%"/>
                </div>
                <div v-show="dataitem.config.titleshow" style="float:left;padding-left: 20px;">
                    Title Width: <input type="text" v-model="dataitem.config.titlewidth" style="width:60px" />&nbsp;&nbsp;
                    Align: <input type="radio" name="radioalign" value="right" v-model="dataitem.config.titlealign" ><label>Right</label>
                    <input type="radio" name="radioalign" value="left" v-model="dataitem.config.titlealign" ><label>Left</label>
                </div>
                <div style="float:left">
                    Content Width: <input type="text" v-model="dataitem.config.namewidth" style="width:60px" />
                    Row Height: <input type="text" v-model="dataitem.config.itemheight" style="width:60px" />
                    Font Size: <input type="text" v-model="dataitem.config.itemfontsize" style="width:60px" />
                </div>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Read Only</div>
            <div class="right">
                <input type="radio" name="radiosview" value="true" v-model="dataitem.config.isview" ><label>Yes</label>
                <input type="radio" name="radiosview" value="false" v-model="dataitem.config.isview" ><label>No</label>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Field Type</div>
            <div class="right" style="line-height: 40px;">
                <input type="radio" name="radios" value="1" v-model="dataitem.config.fieldtypedb" ><label>String</label>
                <input type="radio" name="radios" value="2" v-model="dataitem.config.fieldtypedb" ><label>Decimal</label>
                <input type="radio" name="radios" value="3" v-model="dataitem.config.fieldtypedb" ><label>Integer</label>
                <input type="radio" name="radios" value="4" v-model="dataitem.config.fieldtypedb" ><label>Amount</label>
                <input type="radio" name="radios" value="5" v-model="dataitem.config.fieldtypedb" ><label>Amount (10K)</label>
                <br/>
                <div v-show="dataitem.config.fieldtypedb=='1'" >
                    Max Length: <input type="text" style="width:20%" v-model="dataitem.config.fieldlendb" placeholder="Enter max character length" />
                </div>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Validation</div>
            <div class="right">
                Required: <input type="checkbox" v-model="dataitem.config.fieldnoempty"  />&nbsp;&nbsp;&nbsp;&nbsp;
                Regex: <input type="radio" name="radiosreg" value="1" v-model="dataitem.config.valtype" ><label>Enable</label>
                <input type="radio" name="radiosreg" value="0" v-model="dataitem.config.valtype" ><label>Disable</label>

                <div class="dropitem" v-show="dataitem.config.valtype=='1'" style="width:100%">
                    <input type="text" v-model="dataitem.config.regx" placeholder="Enter regex pattern" />
                    <div class="dropcontent" style="top:53px" >
                        <ul class="menu-content" >
                            <li><a href="javascript:void(0)" @click="setRegxDefault('mobile');" >Mobile Number</a></li>
                            <li><a href="javascript:void(0)" @click="setRegxDefault('tel');" >Landline</a></li>
                            <li><a href="javascript:void(0)" @click="setRegxDefault('email');" >Email</a></li>
                            <li><a href="javascript:void(0)" @click="setRegxDefault('postcode');" >Postal Code</a></li>
                            <li><a href="javascript:void(0)" @click="setRegxDefault('idcard');" >ID Card Number</a></li>
                            <li><a href="javascript:void(0)" @click="setRegxDefault('date');" >Date</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Display</div>
            <div class="right">
                List: <input type="checkbox" v-model="dataitem.config.fieldshow" style="width:5%"/>
                Form: <input type="checkbox" v-model="dataitem.config.formshow" style="width:5%" />
            </div>
        </div>
        <div class="updWin-content-item" >
            <div class="left">Event</div>
            <div class="right">
                <span>On Value Change: </span>
                <input type="button" class="btnOK"  value="Design Code" onclick="parent.openCodeValWin('onchange');" />
            </div>
        </div>
    </div>
</div>
<script src="./../../../js/funcconfig.js"></script>

<script>

const ComConfigVue = 
{
    data() 
    {
        return {
            dataitem:{
                "comid":"1000",
                "comname":"Input Box",
                "comtitle":"",
                "needval":"true",
                "code":{"onchange":{}},
                "config":{"fieldinfile":"","apptype":"1","lan":"e","isview":"false","fieldtypedb":"1","fieldname":"","fieldtype":"nvarchar2","fieldlen":"100","fieldlendb":"100","titlewidth":"15%","namewidth":"85%","fieldtitle":"","titleshow":true,"titlealign":"right","fieldshow":true,"formshow":true,"fieldnoempty":false,"fieldnoemptylbl":"","valtype":"0","regx":"","regxlbl":"","itemheight":"36px","itemfontsize":"16px"},
                "attrget":{"inputValue":""},
                "attrset":{"inputValue":"","display":"s#display","readonly":"s#isview"},
                "attrtitle":{},
                "attrsubmit":{"value":""}
            }
        }
    },
    methods: 
    {
        setRegxDefault(f)
        {

            if(f=='mobile')
                this.dataitem.config.regx = "^1[3|4|5|7|8]\\d{9}$";
            else if(f=='email')
                this.dataitem.config.regx = "^\\w+([-+.]\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$";
            else if(f=='tel')
                this.dataitem.config.regx = "^\\d{3}-\\d{8}|\\d{4}-\\d{7}$";
            else if(f=='idcard')
                this.dataitem.config.regx = "^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$)|(^[1-9]\d{5}\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{2}$";
            else if(f=='date')
                this.dataitem.config.regx = "^\\d{4}-\\d{1,2}-\\d{1,2}$";
            else if(f=='postcode')
                this.dataitem.config.regx = "^[1-9]\\d{5}(?!\\d)$";
            
        },
        getDataItem() 
        {
            let fdnu=this.dataitem.config.fieldname;
            this.dataitem.config.fieldname=fdnu.toUpperCase();
            
            let fdb = this.dataitem.config.fieldtypedb;
            if(fdb=="1")
            {
                this.dataitem.config.fieldtype="nvarchar2";
                this.dataitem.config.fieldlen=this.dataitem.config.fieldlendb;
            }
            else if(fdb=="2"||fdb=="3")
            {
                this.dataitem.config.fieldtype="number";
                this.dataitem.config.fieldlen="15";
            }
            else if(fdb=="4")
            {
                this.dataitem.config.fieldtype="decimal1";
                this.dataitem.config.fieldlen="15";
            }
            else if(fdb=="5")
            {
                this.dataitem.config.fieldtype="decimal2";
                this.dataitem.config.fieldlen="15";
            }

            if(this.dataitem.config.fieldnoempty)
                this.dataitem.config.fieldnoemptylbl = "<span class=\"noempty\">*</span>";
            else
                this.dataitem.config.fieldnoemptylbl = "";
            if(this.dataitem.config.regx=="")
                this.dataitem.config.regxlbl="a";
            else
                this.dataitem.config.regxlbl=this.dataitem.config.regx;
            this.dataitem.comtitle=this.dataitem.config.fieldtitle;
            this.dataitem.attrget.inputValue=this.dataitem.config.fieldname;
            this.dataitem.attrset.inputValue=this.dataitem.config.fieldname;
            this.dataitem.attrsubmit.value=this.dataitem.config.fieldname;

            let oar={};
            oar[this.dataitem.config.fieldname]=this.dataitem.config.fieldtitle;
            if(this.dataitem.config.fieldshow)
                this.dataitem.attrtitle=oar;
            else
                this.dataitem.attrtitle={};
            
            let msg="";
            msg = gCheckField(this.dataitem.config.fieldname,this.dataitem.config.fieldlen);

            let viewhtml = "";
            let tshow = "display:none"
            if(this.dataitem.config.titleshow)
            {
                tshow = "display:blcok";
            }
            let noempty="";
            if(this.dataitem.config.fieldnoempty)
            {
                noempty = "<font color=red>*</font>";
            }

            viewhtml = viewhtml + "<div style=\"width:100%;float:left;margin-bottom:5px\">";
            viewhtml = viewhtml + "<div style=\""+ tshow +";width:"+ this.dataitem.config.titlewidth +";font-size:"+ this.dataitem.config.itemfontsize +";line-height:"+ this.dataitem.config.itemheight +";padding-right:15px;text-align:"+ this.dataitem.config.titlealign +";font-weight: bold;float:left;box-sizing: border-box;\">"+ this.dataitem.config.fieldtitle + noempty + "</div>";
            viewhtml = viewhtml + "<div style=\"width:"+ this.dataitem.config.namewidth +";line-height:"+ this.dataitem.config.itemheight +";float:left;box-sizing: border-box;\">";
            viewhtml = viewhtml + "<input type=\"text\" style=\"border: 1px solid rgb(173, 170, 170);border-radius: 0.8em;font-size:"+ this.dataitem.config.itemfontsize +";height:"+ this.dataitem.config.itemheight +";width:100%;padding: 5px;padding-left: 15px;outline: none;box-sizing: border-box;\" />";
            viewhtml = viewhtml + "</div>";
            viewhtml = viewhtml + "</div>";

            this.dataitem.config.viewhtml=viewhtml;

            if(msg!="")
                alert(msg);
            else
                return this.dataitem;
   
        },
        setDataItem(dataitem) 
        {
            this.dataitem=dataitem;
        },
        setFormValue(fValue,codename) 
        {
            let c = this.dataitem['code'];
            c[codename] = fValue;
        },
        getFormValue(codename) 
        {
            let c = this.dataitem['code'];
            return c[codename];
        }, 
        getDataItemSub() 
        {
            return this.dataitem;
        }
    },
    mounted() 
    {
        window.getDataItem = this.getDataItem;
        window.getDataItemSub = this.getDataItemSub;
        window.setDataItem = this.setDataItem;
        window.setFormValue = this.setFormValue;
        window.getFormValue = this.getFormValue;

        gInitConfig();
    }
}

Vue.createApp(ComConfigVue).mount('#updWin');

</script>

</body>
</html>