<div class="content-tab[@configid@]" id="datalist[@configid@]" style="display: none;">
    <div class="content-tab-title">
        <span>[@fieldtitle@]</span>
    </div>
    <div class="content-tab-filter" >
        <div class="pageselshow">
            [@cappegenum1@]
            <select class="sel" v-model="pageitems" @change="getDatasByFilters(1)">
                <option selected>2</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            [@cappegenum2@]
        </div>
        <div class="actionbtns">
            [@btntophtml@]
        </div>
        <div class="searchcombine" >
            <input type="button" class="btnsub"  value="[@btnsearch@]" @click="searchByMode('')" />
            <input type="button" class="btn"  value="[@btnsearchsub@]" @click="openUpdWinVue('',getDatasByFilters,'')" />
        </div>
        <div class="searchcombine" id="view_prp_filters1[@configid@]">
            <input type="text" class="text" name="filter_searchkey_like" value="" />
        </div>
    </div>
    <div class="content-tab-con" >
        <template v-for="data in datas">
            [@filecontent@]
        </template> 
    </div>
    <div class="content-tab-pages">
        <div class="itemsshow">
            <div @click="downloadExcel()" style="float:left;cursor:pointer" >
                <div style="float:left;padding-top:2px"><img src="./imgs/excel.png" /></div>
                <div style="float:left">&nbsp;{{totalitems}} [@cappegenum3@] </div>
            </div>
        </div>
        <div class="pagesshow" id="pagesshow" v-show="hasitmes">
            <ul class="page-content">
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage+1)">[@pagedown@]</a></li>
                <li v-for="page in showpages">
                    <a href="javascript:void(0)" v-if="page.i==this.curpage" @click="getDatasByFilters(page.i)" class="active">{{page.i}}</a>
                    <a href="javascript:void(0)" v-if="page.i!=this.curpage" @click="getDatasByFilters(page.i)" >{{page.i}}</a>
                </li>
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage-1)">[@pageup@]</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="content-tabmobile[@configid@]" id="datalistmobile[@configid@]" style="display: none;">
    <div class="content-tab-title">
        <span>[@fieldtitle@]</span>
    </div>
    <div class="content-tab-filter" >
        <div class="pageselshow">
            [@cappegenum1@]
            <select class="sel" v-model="pageitems" @change="getDatasByFilters(1)">
                <option selected>2</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            [@cappegenum2@]
        </div>
        <div class="actionbtns">
            [@btntophtml@]
        </div>
        <div style="float:left;width:100%">
            <div class="searchcombine" style="width:55%" id="view_prp_filters2[@configid@]">
                <input type="text" class="text" name="filter_searchkey_like" value="" />
            </div>
            <div class="searchcombine" style="width:45%">
                <input type="button" class="btn"  value="[@btnsearchsub@]" @click="openUpdWinVue('',getDatasByFilters,'')" />
                <input type="button" class="btnsub"  value="[@btnsearch@]" @click="searchByMode('')" />
            </div>
        </div>
    </div>
    <div class="content-tab-con" >
        <template v-for="data in datas">
            [@filecontent@]
        </template> 
    </div>
    <div class="content-tab-pages">
        <div class="itemsshow">
            <div @click="downloadExcel()" style="float:left;cursor:pointer" >
                <div style="float:left;padding-top:2px"><img src="./imgs/excel.png" /></div>
                <div style="float:left">&nbsp;{{totalitems}} [@cappegenum3@]  </div>
            </div>
        </div>
        <div class="pagesshow" id="pagesshow" v-show="hasitmes">
            <ul class="page-content">
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage+1)">[@pagedown@]</a></li>
                <li v-for="page in showpages">
                    <a href="javascript:void(0)" v-if="page.i==this.curpage" @click="getDatasByFilters(page.i)" class="active">{{page.i}}</a>
                    <a href="javascript:void(0)" v-if="page.i!=this.curpage" @click="getDatasByFilters(page.i)" >{{page.i}}</a>
                </li>
                <li><a href="javascript:void(0)" @click="getDatasByFilters(this.curpage-1)">[@pageup@]</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="updWin[@configid@]" class="updWin[@configid@]" >
    <div class="updWin-info" id="updWin-info[@configid@]" style="display:none">
        <div class="left" id="updWin-info-msg[@configid@]"></div>
        <div class="right" onclick="closeInfoMsg[@configid@](event)">&Chi;</div>
    </div>
    <div class="updWin-content" id="searchDiv[@configid@]" >

    </div>
    <div class="updWinBtn">
        <input id="saveBtn" type="button" class="btnOK"  value="[@btnsearch@]"  onclick="gSearchByMode[@configid@]('s')" />
        <input type="button" class="btnCancle"  value="[@btncancle@]" onclick="closeWin[@configid@]()" />
    </div>
</div>
<div id="coverWin[@configid@]" class="coverWin[@configid@]"></div>
<div id="modalWin[@configid@]" class="modalWin[@configid@]">
    <div class="modalWinMsg"><span id="modalWinMsg[@configid@]"></span></div>
    <div class="modalWinBtn">
        <input type="button" class="btnOK"  value="[@btnok@]" onclick="openWinOK[@configid@]()" />
        <input type="button" class="btnCancle"  value="[@btncancle@]" onclick="closeWin[@configid@]()" />
    </div>
</div>