<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>WSoft</title>
<link rel="stylesheet" href="./css/com.css" type="text/css"  />
<script src="./../../../../js/vue.global.js"></script>
<script src="./../../../../js/axios.min.js"></script>
</head>
<body>

<div id="updWin" class="updWin" >
    <div class="updWin-info" id="updWin-info" style="display:none">
        <div class="left" id="updWin-info-msg"></div>
        <div class="right" onclick="closeInfoMsg(event)">&Chi;</div>
    </div>
    <div class="updWin-content" >
        <div class="updWin-content-item" >
            <div class="left">LogoutButton Text</div>
            <div class="right"><input type="text" v-model="dataitem.config.btntitle" /></div>
        </div>
    </div>
    <div class="updWin-content" >
        <div class="updWin-content-item" >
            <div class="left">RoleButton Text</div>
            <div class="right"><input type="text" v-model="dataitem.config.btntitlesel" /></div>
        </div>
    </div>
</div>

<script>

const ComConfigVue = 
{
    data() 
    {
        return {
            comdatas:null,
            dataitem:{"comid":"8","comname":"Logout","comtitle":"","config":{"btntitle":"Logout","btntitlesel":"Role"}}
        }
    },
    methods: 
    {
        getDataItem() 
        {
            let viewhtml = "";

            viewhtml = viewhtml + "<div  >";
            viewhtml = viewhtml + "<input type=\"button\" style=\"border-style: none;border-radius: 2em;background-color: rgb(46, 162, 240);color:#fff;height:40px;width:60px;cursor: pointer;margin-right: 10px;outline:none;box-sizing: border-box;float:right;\" value=\""+ this.dataitem.config.btntitle +"\"  />";
            viewhtml = viewhtml + "</div>";

            this.dataitem.config.viewhtml=viewhtml;
            return this.dataitem;
        },
        setDataItem(dataitem) 
        {
            this.dataitem=dataitem;
        }
    },
    mounted() 
    {
        window.getDataItem = this.getDataItem;
        window.setDataItem = this.setDataItem;
    }
}

Vue.createApp(ComConfigVue).mount('#updWin');

</script>

</body>
</html>