.logoutDiv .btnLogout[@configid@] {
    border: none;
    border-radius: 2em;
    background-color:#06b6d4;
    color: #fff;
    height: 40px;
    width: 60px;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    box-sizing: border-box;
    float: right;
    transition: 0.2s ease;
    font-size: 14px;
    font-weight: 500;
}

.logoutDiv .btnLogout[@configid@]:hover {
    background-color: #0891b2;
    box-shadow: 0 1px 3px rgba(6, 182, 212, 0.04);
}
